Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/personaje_jugable/google_vr_pawn.uasset
Content/animaciones_y_personajes/jeny/real/YennyPoseT_Skeleton.uasset
Content/animaciones_y_personajes/jeny/real/YennyPoseT_PhysicsAsset.uasset
Content/animaciones_y_personajes/jeny/real/Animations/YennyRunning.uasset
Content/animaciones_y_personajes/jeny/real/Animations/YennySitting_Laughing.uasset
Content/animaciones_y_personajes/jeny/real/YennyPoseT.uasset
Content/personaje_jugable/google_vr_pawn.uasset
Content/personaje_jugable/google_vr_pawn.uasset
